<div class="product-catalog">
    <mat-list role="list">
        <mat-list-item role="listitem">
            <a [routerLink]="['product']">Smartphones</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a [routerLink]="['admin/createProduct']">Create Product!</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a [routerLink]="['product']">Laptops</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a [routerLink]="['product']">Home-appliances</a>
        </mat-list-item>
    </mat-list>
</div>