<div class="login-container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <h2 class="login-title">Sign-up</h2>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        placeholder="E-mail"
        #emeilInput="ngModel"
        required
        email
      />
      <mat-error *ngIf="emeilInput.invalid"
        >Please enter a valid email</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        ngModel
        name="password"
        type="password"
        placeholder="Password"
        #passwordInput="ngModel"
        required
      />
      <mat-error *ngIf="passwordInput.invalid">
        Please enter a valid password
      </mat-error>
    </mat-form-field>
    <button
      *ngIf="!isLoading"
      mat-raised-button
      class="login-button"
      color="primary"
      type="submit"
    >
      Sign-up
    </button>
  </form>
</div>
