html,
body,
div,
span,
app-root {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: #007bff;
  color: white;
}

::selection {
  background: transparent;
}

body {
  font-family: Arial, sans-serif;
}

mat-spinner {
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
  height: 100%;
  mat-card {
    height: 100%;
  }
}
